 body
{
	background-attachment: fixed;
	background-repeat : repeat;
	background-size : 1100px 630px;
	
}
.header
{
background-image :url('img/logo3.jpg');
background-image :url('img/');

}
			
.jarak
{
	text-indent :50px;
	}
.ptable{
	margin : 60 0 0 100;
	}
.align
{
	text-align :justify;
	text-indent :50px;
	}
	
.font
{
	font-family :time new roman;
	margin :0 0 0 150;
	font-size :40px;
	float : left;
	
}
.fonthome
{
	font-family :time new roman;
	margin :0 200 0 120;
	font-size :20px;
	float : left;
	
}

.img:hover {
-moz-transform: rotate(385deg);
-webkit-transform: rotate(385deg);
-o-transform: rotate(385deg);
-ms-transform: rotate(385deg);
transform: rotate(385deg);
-moz-transition: all 1.5s ease-in-out;
-webkit-transition: all 1.5s ease-in-out;
transition: all 1.5s ease-in-out;

 
}

nav ul{	
	float:left;
	list-style:none; /* menghilangkan tanda pada pinggir ist */
	width:1100px;
	height:50px;
	margin :0 0 0 0;
	
	}
nav ul a{
	text-decoration: none; /*menghilangkan efek teks atau link, di sini kita gunakan untuk menghilangkan garis bawah link */
}
nav ul li ul{
	display:none; /*menyembunyikan menu saat pointerr tidak sedang di atas nya*/
	padding-left:0px; /*menggatur padding*/
	width:200px;

}
nav ul li:hover ul{
	display:block;  /*menampilkan menu saat pointerr di atasnya*/
}
nav ul li:hover{
	background:blue;
}
nav ul li{
	float:left;
	width:130px;
	height:25px;
	background:#000;
	padding-top:11px;
	text-align :center;
}
nav a{
	color:#fff;
	font-family:Bookman Old Style;
	font-size:11pt;
	text-align:center;
}
.label{ opacity: .30;
	background :blue;
	}
.kegiatan 
{
	color :black;
}	
.header
{
	box-shadow:0 0 50px blue;
	width:1100px;
	height:300px;
	background:white;
	margin : 60 0 0 120;	
	
	}		
		
	
.conten
{
		
	width:1300px;
	height:auto;
	float:left;
}
	
.conten-menu
{
	-moz-box-shadow:0 0 10px #000;
	box-shadow:0 0 30px blue;
	width:1100px;
	height:40px;
	background:#000;
	margin : 0 0 0 120;
	opacity : .50;
	border-radius :20px;
	text-align:center;
	
}
	
.conten-left
{
	
	width:210px;
	height:350px;
	background:white;
	float:left;
	margin :5 0 0 120;
	border-radius :20px;
	background :rgba(300, 300, 300, 0.5);
}
	
.conten-right
{
		
		width:870px;
		height:600px;
		background:white;
		margin :10 0 5 335;
		border-radius :20px;
		background :rgba(300, 300, 300, 0.5);
		
}

.font-footer
{
	color : black;
	text-align :justify;
	
}	
.footer
{
	
	float:left;
	text-align :center;
	width:1100px;
	height:30px;
	margin :0 0 0 120;
	opacity : .80;
}	